@tailwind base;
@tailwind components;
@tailwind utilities;

/* overide tailwind */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer components {
	.flex-bw {
		@apply flex items-center justify-between;
	}

	.flex-ai {
		@apply flex items-center;
	}

	.tag {
		@apply w-6 h-6 rounded-full text-center border-2 mr-3 ml-2;
	}

	.btn-primary {
		@apply bg-[#1677ff] text-[white];
	}

	.custom-statistic-menu {
		@apply text-black hover:bg-gray-300 font-bold;
	}
}

.ant-modal-confirm-paragraph.ant-modal-confirm-paragraph {
	@apply w-full max-w-full;
}
